.document a {
	color: #666
}

.document a:HOVER {
	color: #10af88
}

.document h4 {
	font-size: 16px;
	font-weight: bold;
}

.document select {
	height: 34px;
}

.document select option {
	font-size: 14px;
}

.d_document_navi{
	position: absolute;
	width: 320px;
	padding: 25px 30px;
	overflow: auto;
	font-size: 15px;
	color: #666;
}

.d_document_list{
	padding: 25px 30px;
	margin-left: 301px;
	background-color: #fff;
	overflow: auto;
	height: 100%;
	border-left: 1px solid #ccc;
}

.d_navi {
	width: 313px;
	float: left;
	overflow-y: scroll;
	color: #666;
	padding: 25px 30px;
	z-index: 1
}

.d_navi ul li {
	margin: 12px 0 0 0
}

.d_navi ul li a {
	color: #666
}

.d_navi ul li a:HOVER {
	color: #10af88
}

.d_navi h3 {
	width: 250px;
}

.d_navi .d_tree_btns {
	width: 250px;
	line-height: 30px;
}

.d_document_title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 160px;
}

.d_tree {
	width: 250px;
}

.d_tree ul li {
	margin: 12px 0 0 10px;
}

.d_tree_node {
	cursor: pointer;
	float: left;
}

.d_tree_node_text {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
	float: left;
}

.d_tree_node_text .fa-caret-down, .d_tree_node_text .fa-caret-right{
	width: 10px;
}

.d_tree_node:HOVER {
	color: #10af88
}

.d_delete:HOVER {
	color: red
}

.d_current_node {
	color: #10af88
}

.d_current_a span {
	font-weight: bold;
	color: #10af88
}

.d_current_a i {
	font-weight: bold;
	color: #10af88
}

.d_content {
	float: left;
	overflow: auto;
	background: #fff;
	margin-left: -17px;
	border-left: 1px solid #ddd;
	z-index: 2
}

#d_content_area {
	overflow-y: scroll;
}

#d_preview_area table {
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	margin-bottom: 10px;
	border-collapse: 0;
	border-spacing: 0;
	width: 100%;
}

#d_preview_area table th {
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 6px 12px;
	background-color: #eee;
}

#d_preview_area table td {
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 6px 12px;
}

#d_preview_area ul {
	padding-left: 30px;
	list-style: disc;
}

#d_preview_area ul li {
	line-height: 22px;
}

#d_preview_area ol {
	padding-left: 30px;
}

#d_preview_area ol li {
	line-height: 22px;
}

.d_oneword_code {
	padding: 2px 4px;
	margin: 0 2px;
	color: #c7254e;
	white-space: nowrap;
	background-color: #f9f2f4;
	border-radius: 4px;
	display: inline;
}

.d_line {
	border-bottom: 1px solid #ddd;
	margin: 15px 0;
}

.d_add {
	float: right;
	display: block;
	padding: 0px 0px;
	font-size: 16px;
}

.d_project {
	width: 100%;
	margin-bottom: 10px;
}

.d_button {
	background-color: #11a782;
	border: 0 none;
	border-radius: 4px;
	color: #ffffff;
	display: inline-block;
	height: 40px;
	outline: medium none;
	padding-left: 15px;
	padding-right: 15px;
}

.d_disable_btn {
	background-color: #ddd;
	border: 0 none;
	border-radius: 4px;
	color: #ffffff;
	display: inline-block;
	height: 40px;
	outline: medium none;
	padding-left: 15px;
	padding-right: 15px;
}

.d_button:HOVER {
	background-color: #13bb92;
}

.d_edit_part_d {
	float: left;
	padding-bottom: 10px;
}

.d_edit_area .d_input_text {
	border: none;
	width: 100%;
}

.d_edit_area textarea {
	padding: 10px;
	width: 100%;
	overflow: hidden;
	line-height: 21px;
	font-size: 14px;
}

.simple_text {
	border-left: 4px solid #ccc;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	border-top: 1px solid #fff;
	width: 100%;
}

.table_text {
	border: 1px solid #fff;
	width: 100%;
}

.d_edit_item_area {
	width: 180px;
}

.d_edit_item_area {
	width: 180px;
	height: 280px;
	display: none;
}

.d_edit_item_area_n {
	float: left;
}

.d_edit_item_area_m {
	position: fixed;
	top: 80px;
}

.d_edit_item {
	width: 80px;
	height: 80px;
	border: 1px solid #d5d4d4;
	border-radius: 5px;
	margin: 0 0 10px 10px;
	float: left;
	cursor: move;
	text-align: center;
	color: #aba9a9;
	background: #fff
}

.d_edit_item:HOVER {
	border: 1px solid #10af88;
	color: #10af88
}

.d_edit_item i {
	font-size: 32px;
	padding-top: 15px;
	line-height: 32px;
}

.d_edit_item span {
	font-size: 12px;
}

.d_callout {
	margin-bottom: 10px;
}

.d_callout_info {
	border-left: 4px solid #5bc0de;
	background: #f4f8fa;
	padding: 10px;
}

.d_callout_warn {
	border-left: 4px solid #f0ad4e;
	background: #fcf8f2;
	padding: 10px;
}

.d_callout_danger {
	border-left: 4px solid #d9534f;
	background: #fdf7f7;
	padding: 10px;
}

.d_callout_success {
	border-left: 4px solid #50af51;
	background: #f3f8f3;
	padding: 10px;
}

.d_callout input {
	background-color: transparent;
	font-size: 15px;
	padding: 10px 5px 0 10px;
	margin-bottom: 5px;
}

.d_callout textarea {
	background-color: transparent
}

.d_callout_icons a {
	margin-left: 10px;
	color: #aaa
}

a.d_callout_icon_info {
	color: #5bc0de
}

a.d_callout_icon_warn {
	color: #f0ad4e
}

a.d_callout_icon_danger {
	color: #d9534f
}

a.d_callout_icon_success {
	color: #50af51
}

.d_p_list_area {
	padding: 25px 30px;
}

.d_project1 {
	width: 200px;
	height: 100px;
	border: 1px solid #ccc;
	background: #eee;
	float: left;
	margin: 0 10px 10px 0;
	cursor: pointer;
}

.d_project1_row {
	padding: 8px 8px 0 8px;
	height: 33%
}

.d_project1_title {
	font-size: 16px;
	color: #333;
}

.d_project1_info {
	font-size: 12px;
	color: #666
}

.d_edit_part hr {
	margin-bottom: 10px;
	margin-top: 10px;
}

.d_line_n {
	border: 1px solid #ccc;
}

.d_line_n_arrow {
	border-bottom: 7px solid transparent;
	border-left: 10px solid #ccc;
	border-top: 7px solid transparent;
}

.d_line_c {
	border: 1px solid #11a782;
}

.d_line_c_arrow {
	border-bottom: 7px solid transparent;
	border-left: 10px solid #11a782;
	border-top: 7px solid transparent;
}

.d_clear_button {
	cursor: pointer;
	color: #888;
	text-align: center;
}

.d_clear_button:HOVER {
	color: #10af88
}

.d_main_version {
	font-weight: bold;
}

.d_beta_version {
	font-weight: bold;
}

.d_public_version {
	font-weight: bold;
}

.d_c_menu {
	width: 84px;
	border: 1px solid #ccc;
	background: #fff;
	z-index: 2;
	padding: 5px;
	text-align: center;
	display: none;
	position: absolute;
}

.d_c_menu a {
	line-height: 30px;
}

.d_c_menu span {
	line-height: 30px;
}

.d_c_menu span:HOVER {
	color: #10af88
}

.d_c_menu_arrow1 {
	width: 0;
	height: 0;
	border-width: 8px;
	border-style: solid;
	border-color: transparent transparent #ccc transparent;
	font-size: 0;
	line-height: 0;
	margin-top: -22px;
	margin-left: 49px;
}

.d_c_menu_arrow2 {
	width: 0;
	height: 0;
	border-width: 8px;
	border-style: solid;
	border-color: transparent transparent #fff transparent;
	font-size: 0;
	line-height: 0;
	margin-top: -15px;
	margin-left: 49px;
	margin-bottom: 3px
}

.d_pointer {
	cursor: pointer;
}

.d_show_category {
	font-weight: bold;
	font-size: 18px;
	padding: 0px 15px;
}

.d_warn {
	border: 1px solid #eed3d7;
	color: #b94a48;
	background: #f2dede;
	padding: 14px;
	border-radius: 4px;
}

.d_info {
	border: 1px solid #d5d4d4;
	color: #999;
	background: #ffc;
	padding: 14px;
	border-radius: 4px;
	margin: 0 0 10px 10px;
	font-size: 12px;
}

.d_list_chose_btn {
	cursor: pointer;
	display: block;
	padding-bottom: 10px;
}

.d_list_chose_btn_on {
	color: #10af88
}

.d_list_chose_btn:HOVER {
	color: #10af88
}

.d_list_info {
	float: right;
	margin-left: 10px;
	font-size: 12px;
}

.d_input_tips {
	color: #999
}

.d_enter_tips {
	color: #aaa;
	line-height: 40px;
	margin-left: 5px;
}

.d_theme_one {
	float: left;
	text-align: center;
}

.d_theme_pic {
	border: 1px solid #ccc;
	padding: 2px;
	margin-top: 2px;
	cursor: pointer;
	height: 250px
}

.d_theme_pic:HOVER {
	border: 2px solid #10af88;
	padding: 1px;
}

.d_time_user {
	font-size: 12px;
	margin-top: 10px;
	color: #999;
}

.d_tit_ri_btns {
	width: 170px;
	line-height: 40px;
	float: right;
	color: #888;
}

.d_page li a {
	margin-right: 5px;
	border-radius: 0;
	color: rgba(0, 0, 0, 0.7);
	display: block;
	font-family: Courier New, Arial;
	font-size: 12pt;
	padding: 3px 6px;
	text-align: center;
	text-decoration: none;
	float: left;
}

.d_page li.current a {
	background: none repeat scroll 0 0 #10af88;
	border-radius: 40px;
	color: #fff;
	font-weight: bold;
}

.d_page li.current a:HOVER {
	background: none repeat scroll 0 0 #10af88;
	border-radius: 40px;
	color: #fff;
	font-weight: bold;
}

.d_page li a:HOVER {
	background: transparent;
	color: #10af88;
}

pre code {
	white-space: pre-wrap
}
/** 遮罩层 **/
.d_fullbg {
	background-color: Gray;
	left: 0px;
	opacity: 0.5;
	position: absolute;
	top: 0px;
	z-index: 3;
	filter: alpha(opacity = 50); /* IE6 */
	-moz-opacity: 0.5; /* Mozilla */
	-khtml-opacity: 0.5; /* Safari */
}

.d_content_fullbg {
	background-color: Gray;
	left: 362px;
	top: 60px;
	opacity: 0.5;
	position: absolute;
	z-index: 3;
	filter: alpha(opacity = 50); /* IE6 */
	-moz-opacity: 0.5; /* Mozilla */
	-khtml-opacity: 0.5; /* Safari */
}

.d_dialog {
	background-color: #FFF;
	border: 1px solid #888;
	border-radius: 4px;
	display: none;
	left: 50%;
	margin-left: -240px;
	padding: 12px 20px;
	position: fixed !important; /* 浮动对话框 */
	position: absolute;
	top: 35%;
	width: 480px;
	z-index: 5;
	-webkit-box-shadow: 0 0 30px #444;
	-moz-box-shadow: 0 0 30px #444;
	box-shadow: 0 0 30px #444;
}

.d_dialog p {
	margin: 0 0 12px;
}

.d_dialog p.d_close {
	text-align: right;
}

.d_doc_dec {
	font-size: 12px;
}

.d_widget_btn_nvs {
	font-size: 16px;
	margin: 0 0 10px 10px;
	border-bottom: 1px solid #ccc;
}

.d_widget_btn_nvs i {
	padding-bottom: 2px;
}

.d_widget_btn_nv {
	padding: 0 5px;
	cursor: pointer;
}

.d_widget_btn_nv:HOVER {
	color: #11a782;
	border-bottom: 1px solid #ccc;
}

.d_widget_btn_nv_on {
	color: #11a782;
	border-bottom: 1px solid #ccc;
}

.d_num_refresh_btn {
	cursor: pointer;
	float: right;
}

.d_num_refresh_btn:HOVER {
	color: #11a782;
}

.d_widget_content_part {
	padding-left: 10px;
	margin-bottom: 10px;
}

.d_widget_content_num {
	margin: 0 2px;
	font-size: 17px;
	color: #11a782;
}

.d_widget_content_little_title {
	border-bottom: 1px dashed #ccc;
	color: #11a782;
}

.d_widget_content_select {
	margin-top: 5px;
	width: 100%;
}

.noshow {
	display: none;
}

.d_navi_icon {
	width: 15px;
	text-align: center;
}

.d_type_menu {
	border: 1px solid #ccc;
	background: #fff;
	z-index: 2;
	padding: 5px;
	text-align: center;
	display: none;
	position: absolute;
	right: 0px;
}

.d_type_menu li {
	cursor: pointer;
	line-height: 25px;
	margin: 0 5px;
	font-size: 12px;
}

.d_type_menu li:HOVER {
	color: #10af88;
}

.d_type_more_menu {
	position: absolute;
	background: #fff;
	margin: 10px;
	padding: 0 10px;
	z-index: 2;
	display: none;
	top: -12px;
	border: 1px solid #ccc;
	padding-top: 10px
}

.d_type_more_menu li {
	cursor: pointer;
	line-height: 30px;
	margin: 0 5px;
	font-size: 16px;
}

.d_type_more_menu li:HOVER {
	color: #10af88;
}

.d_list_chose_btn .fa-times:HOVER {
	color: red;
}

.d_type_more_menu li .fa-times {
	float: right;
	margin-left: 10px;
}

.d_type_more_menu li .fa-pencil {
	float: right;
	margin-left: 10px;
}

.d_type_more_menu li .fa-times:HOVER {
	color: red;
}

.d_type_more_menu li .fa-pencil:HOVER {
	color: red;
}

.d_detail_update_time {
	position: absolute;
	left: 0px;
	bottom: -55px;
	font-size: 13px;
	color: #999;
}

.d_del_part{
	border: 1px dashed red !important;
	margin-top: -2px !important;
}

table tbody tr td[class=d_table_del_btn] {
	vertical-align: middle;
	background-color: #ddd;
	width: 24px;
	padding: 0px;
	cursor: pointer;
	text-align: center;
}

table tbody tr td[class=d_table_del_btn] i {
	color: #fff;
}

table tbody tr td[class=d_table_del_btn]:HOVER {
	background-color: #10af88;
}

@media ( min-width : 1050px) {
	.d_doc_dec {
		width: 800px;
	}
}

.highlight{
	color: #FF4040;
}

#d_preview_area p{
	white-space: pre-wrap;
}